.dashboard{

  background-color: #E5E5E5;
  height: 100%;

  .menu{
    background-color: #282424;
    float: left;
    height: 100%;
    width: 12rem;

    h3{
      border-bottom: 1px solid #666;
      color: #ffffff;
      padding-top: 1rem;
      padding-left: 1rem;
      text-align: left;
    }

    .hosts{
      a{
        color: #ffffff;
        display: block;
        padding: 1em;
        position: relative;

        &:hover{
          background-color: lighten(#282424, 10%);
        }

        &.selected{
          background-color: lighten(#282424, 10%);

          &:after{
            width: 0; 
            height: 0; 
            border-top: 1.5em solid transparent;
            border-bottom: 1.5em solid transparent;
            border-left: 1.5em solid lighten(#282424, 10%);
            content:"";
            position: absolute;
            top: .25em;
            right: -1.5em;
          }
        }
      }
    }

    .add-host{
      width: 8rem;
    }

    .logout{
      position: absolute;
      right: 5px;
      top: 5px;

    }

    .add{
      border-top: 1px solid #666;
      margin-top: 2rem;
      padding-top: 1rem;
      text-align: center;
    }
  }

  .content{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 1rem 1rem;
  }

  .counters{
    margin: 2em 0;
    text-align: center;

    h3{
      font-size: 3em;
      font-weight: 600;
    }
    p{
      font-size: 1.5em;
      letter-spacing: .1em;
    }

    .error-count{
      color: $error-color;
    }
    .warning-count{
      color: $warning-color;
    }
    .info-count{
      color: $info-color;
    }
  }

}