section.hunajs{
	background-color: rgba(59,19,69, .8);
	color: #ffffff;
	font-size: 1.6em;
	height: 100%;
	padding: 2% 10%;
	transition: background-color 2s ease-in 0s;

	&:after {
	  content: "";
	  background: transparent url(http://i.ytimg.com/vi/khZKIXgIlbU/maxresdefault.jpg) no-repeat 0 0;
	  background-size: cover;
	  opacity: 0.8;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;   
	}

	@include max-tablet{
		background-color: rgba(0, 128, 0,.8);
		font-size: 1.4em;
	}
	@include max-small-tablet{
		background-color: rgba(0, 0, 255, .5);
		font-size: 1.2em;
	}
	@include max-phone{
		background-color: rgba(255, 0, 0, .8);
		font-size: 1em;
	}

	.callout{
		text-align: center;
		height: 100%;
		position: relative;

		.call-to-action{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			h1.title{
				font-size: 4em;
				font-weight: bold;
			}
			h2.subtitle{
				font-size: 1.2em;
				margin-bottom: 20px;
			}
			.btn-register{
				background: transparent;
				border-radius: 3px;
				color: #fff;
				font-family: "Open Sans";
				font-size: 1.4em;
				padding: 10px 30px;
				text-shadow: none;
				transition: all .3s ease-in 0s;

				&:hover{
					border-color: rgba(59,19,69, 1);
					box-shadow: 0 0 3px #fff;
				}
			}
		}
		
	}
}
