section.hunajs{
  background: $background-color url(../img/smoke.png) no-repeat 0 0;
  background-attachment: fixed;
  background-size: cover;
  color: $font-color;
  font-size: 1.6em;
  height: 100%;
  padding: 2% 10%;
  transition: background-color 2s ease-in 0s;

  @include max-tablet{
    background-color: rgba(0, 128, 0,.8); // green
    font-size: 1.4em;
  }
  @include max-small-tablet{
    background-color: rgba(0, 0, 255, .5); // blue
    font-size: 1.2em;
  }
  @include max-phone{
    background-color: rgba(255, 0, 0, .8); // red
    font-size: 1em;
  }

  .callout{
    text-align: center;
    height: 100%;
    position: relative;

    @include max-small-tablet{
      height: auto;
      padding-top: 50px;
    }

    .call-to-action{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include max-small-tablet{
        position: static;
        transform: none;
      }

      h1.title{
        font-size: 4em;
        font-weight: bold;
      }
      h2.subtitle{
        font-size: 1.2em;
        margin-bottom: 20px;
      }
      .btn-register{
        background: transparent;
        border-radius: 3px;
        color: $font-color;
        font-family: "Open Sans";
        font-size: 1.4em;
        padding: 10px 30px;
        text-shadow: none;
        transition: all .3s ease-in 0s;

        &:hover{
          background: $font-color;
          color: $background-color;
        }
      }
    }
    
  }
}


