
section.pricing{

  background: $font-color;
  min-height: 100%;
  padding: 3em;
  text-align: center;

  h1{
    font-size: 3em;
    margin: 1em 0;
  }
  
  .pricing-row{
    margin: 0 auto;

    .price-card{
      border: 1px solid complement($background-color);
      border-radius: 8px;
      display: inline-block;
      font-size: 1.6em;
      margin: 0 2%;
      width: 29.333333%;
      max-width: 13.72549em;

      header{
        background-color: complement($background-color);
        color: $font-color;
        font-size: 2em;
        font-weight: 200;
        margin-bottom: .7em;
        padding: .2em 0 .4em;
      }

      .body{
        padding: .8em;

        .col1{
          text-align: right;
        }
        .col2{
          text-align: left;
        }
      }

      footer{
        margin: 2em 0 1em;
      }

      .btn-flat-green{
        background: complement($background-color);
        border-color: #445F21 - 10%;
        &:hover{
          background: darken(complement($background-color), 5%);
        }
      }
    }

  }

}