
section.pricing{

  background: $font-color;
  margin: 50px;
  text-align: center;

  h1{
    font-size: 3em;
    margin: 30px 0 50px;
  }
  
  .pricing-row{
    margin: 0 auto;

    .price-card{
      border: 1px solid complement($background-color);
      border-radius: 8px;
      display: inline-block;
      font-size: 1.6em;
      margin: 0 2%;
      width: 29.333333%;
      max-width: 350px;

      header{
        background-color: complement($background-color);
        color: $font-color;
        font-size: 2em;
        font-weight: 200;
        margin-bottom: 44px;
        padding: 10px 0 25px;
      }

      .body{
        padding: 10px;

        .col1{
          text-align: right;
        }
        .col2{
          text-align: left;
        }
      }

      footer{
        margin: 50px 0 20px;
      }

      .btn-flat-green{
        background: complement($background-color);
        border-color: #445F21 - 10%;
        &:hover{
          background: darken(complement($background-color), 5%);
        }
      }
    }

  }

}