/**
 * Colors
 */
$font-color: #333333;
$font-color-light: #f2f2f2;

$error-color: #e74c3c;
$warning-color: #e67e22;
$info-color: #3498db;//#E8C53A;

$red-light: #F79191;
$red-regular: #C93A3A;
$red-dark: #932929;

/**
 * Buttons
 */
$btn-gray: #eeeeee;
$btn-red: #e74c3c;
$btn-green: #00B16A;
$btn-turquoise: #1abc9c;
$btn-orange: #e67e22;
$btn-purple: #9b59b6;
$btn-blue: #3498db;
$btn-yellow: #E8C53A;

$btn-hover-darken: 10%;