
	<section class="errorpage">

		<div class="row clearfix">
			<div class="col-50">
				<h2>Handle parse error</h2>
			</div>
			<div class="col-50">
				<button class="btn-red btn-parse-error" ng-click="parseError()">Send parse error</button>
			</div>
		</div>

		<div class="row clearfix">
			<div class="col-50">
				<h2>Handle syntax error</h2>
			</div>
			<div class="col-50">
				<button class="btn-red btn-syntax-error" ng-click="syntaxError()">Send syntax error</button>
			</div>
		</div>

		<div class="row clearfix">
			<div class="col-50">
				<h2> Handle uncaught exceptions</h2>
			</div>
			<div class="col-50">
				<button class="btn-red btn-exeption" ng-click="uncaughtException()">Send exception</button>
			</div>
		</div>



	</section>